html, body{
    padding: 0;
    margin: 0;
}

.header{
    height: 10vh;
}

.container{
    position: relative;
}

#main-content{
    height: 85vh;
    padding-bottom: 5vh;
}

#list-content{
    overflow: auto;
    height: 100%;
    padding: 10px;
}

#details-content{
    overflow: auto;
    height: 100%;
    padding: 10px;
}

#details{
    padding: 10px;
    background-color: ghostwhite;
}

tbody > tr > td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.no-overflow {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*
.overflow_hidden_cell{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overflow_hidden_cell_hover{
    overflow: visible;
    width: 100%;
    position: absolute;
    -webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.7);
    -moz-box-shadow:    0px 0px 15px rgba(50, 50, 50, 0.7);
    box-shadow:         0px 0px 15px rgba(50, 50, 50, 0.7);
}

.tooltip{
display: inline;
position: relative;
white-space: pre-wrap;   
margin: 20px 20px 20px 20px; 
height: 30px;  
width: 50px
}*/

/*.tooltip-inner  {

    white-space:pre-wrap;  you can also try white-space: normal;
    
}*/

.compartment-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#compartments > table > tbody > tr > th, td {
    text-align: left;
    padding: 8px;
}

#compartments > table > tbody > tr:nth-child(even){
    background-color: #f2f2f2
}

#compartments > table > tbody > tr > th {
    /*background-color: #4CAF50;*/
    background-color: cadetblue;
    color: white;
}

figure img {
    width: 70%;
}

figure figcaption {
    text-align: center;
}
