<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MIYeasTK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    
    <style>
        body {
    	    padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
	<link href="css/jquery-ui.min.css" rel="stylesheet">
    <link href="css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="css/responsive.dataTables.min.css" rel="stylesheet">
	<link href="css/buttons.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://use.edgefonts.net/andika.js"></script>
    <script src="http://use.edgefonts.net/arvo.js"></script>

    <!-- <script type="text/javascript" src="socket.io/socket.io.js"></script> -->
    <script>
	// UNCOMMENT THIS CODE IF YOU USE THE "serverwithanalytics" SERVER
        //        var socket = io.connect();
        //        socket.on('connect', function () {
        //            socket.send(window.location.href);
        //        });
        //        window.onhashchange = function () {
        //            socket.send(window.location.href);
        //        }
    </script>

</head>

<body>



    <div class="container-fluid">
	    <!-- <div class="header">  -->
		<!-- <ul class="nav nav-pills">  -->
   		<!--    <li ><a href="#">Home</a></li>  -->
  		<!--    <li ><a href="#sgdgenes">SGD Genes</a></li>  -->
	  	<!--    <li ><a href="#reactions">Reactions</a></li>  -->
	  	<!--    <li ><a href="#species">Metabolites</a></li>  -->
	  	    <!--<li ><a href="#metabolites">Metabolites</a></li>-->
		<!--</ul>  -->
	    <!--</div>  -->
		<nav class="navbar navbar-default">
				<ul class = "nav navbar-nav">
					<li ><a href="#">Home</a></li> 
					<li ><a href="#sgdgenes">Genes</a></li>  
					<li ><a href="#reactions">Reactions</a></li>  
					<li ><a href="#species">Metabolites</a></li>  
					<li ><a href="#compartments">Compartments</a></li>
					<li ><a href="#about">About</a></li>
				</ul>
		</nav>
        <div class="row-fluid" id="main-content">
       	    <!-- <div id="list-content" class="span8"></div> -->
	    <!-- <div id="details-content" class="span4"></div> -->
        </div>

      
    </div>
    <!-- /container -->

    <!-- templates -->

    <script type="text/template" id="gpr-template">
	<% var model = reaction.split('@')[1]; %>
	<% var rx = reaction.split('@')[0]; %>
	<div id = "details">
	    <h4><b>GPR from</b> <a href="#reactions/<%= model %>/<%= rx %>"><%= reaction %></a></h4>
	    <b>Model: </b><span class="model"><%= model_map[model] %></span></br>
	    <b>Reaction: </b><span class="reaction"><%= rx %></span></br>
	    <b>Rule: </b><span class="gpr-rule"><%= rule %></span></br></br>
	    <% if (normalized_rule !== null) { %>    
			<b>Normalized rule: </b><span class="gpr-rule"><%= getLinkGeneGPR(normalized_rule, genes) %></span></br></br>
			<% var filtered_same_gprs = filterSameGPRs(reaction, normalized_rule, same_gprs); %>
			<b>This GPR is also present on:</b><br>
			<table id="gpr-reactionrefs-table" style="width: 100%;" role="grid" class="display dataTable nowrap" width="100%" cellspacing="0">
			<thead style="text-align: left;">
				<tr>
					<th>Entry</th>
					<th>Model</th>
					<th>GPR</th>
					<th></th>
				</tr>			
			</thead>
			<tbody class="gpr-reactionrefs-list">
				<% _.each(filtered_same_gprs, function(filtered_same_gpr){ %>
				  <% if (filtered_same_gpr.reaction !== null) { %>		
				<tr>
				<% var rxref_model = filtered_same_gpr.reaction.split("@")[1] %>
				<% var rxref_rx = filtered_same_gpr.reaction.split("@")[0] %>
				<td><%= rxref_rx %></td>
				<td><%= model_map[rxref_model] %></td>
				<td>
					<%= '<a href="#gprs/' +  rxref_model  + '/' +  rxref_rx  + '" target="_blank">' +  filtered_same_gpr.gpr + '</a>' %>
				</td>
				<td><a href="#reactions/<%= rxref_model %>/<%= rxref_rx %>"><span class="fa fa-search"></span></a></td>
				</tr>
				  <% } %>
				<%}); %>
			</tbody>
			</table>
			
			
	    <% } %>

	    <!-- <b>Rule genes: </b><span class="gpr-genes"></br> -->
		<!-- <ul> -->
		<!-- <% _.each(genes, function(gene){ %> -->
		<!--     <% if (gene.leaf !== null){ %> -->
		<!-- 	<% var systematic_name = gene.leaf.split("@")[0]; %> -->
		<!--     	<li><a href="#sgdgenes/<%= gene.sgdgene %>"><%= systematic_name %></a></li> -->
		<!--     <% } %> -->
		<!-- <%}); %> -->
		<!-- </ul> -->
	    <!-- </span> --> 
	</div>
    </script>


    <script type="text/template" id="metabolitelist-template">
	<table id="metabolite-table" style="width: 100%;" role="grid" class="display dataTable" width="100%" cellspacing="0">
	    <thead style="text-align: left;">
		<tr>
		    <th>Entry</th>
		    <th>Model</th>
		    <th>Identifier</th>
		    <th></th>
		</tr>
	    </thead>
	    <tbody class="metabolite-list">
	    </tbody>
	</table>
    </script>    

    <script type="text/template" id="metabolitelistitem-template">
	<% var metab = entry.split("@")[0]; %>
	<% var model = entry.split("@")[1]; %>
	<td><%= entry %></td>
	<td><%= model %></td>
	<td><%= metab %></td>
	<td><a href="#metabolites/<%= model %>/<%= metab %>"><span class="fa fa-search"></span></a></td>
    </script>

    <script type="text/template" id="metabolite-template">
	<% var metab = entry.split("@")[0]; %>
	<% var model = entry.split("@")[1]; %>
	<div id = "details">
	    <h4>Metabolite <%= entry %></h4>
	    <b>Metabolite Id: </b><span class="metabolite-id"><%= metab %></span></br>
	    <b>Model: </b><span class="model"><%= model_map[model] %></span></br></br>
	    <b>Species :</b></br>
	    <span class="species">
		<ul>
		    <% _.each(species, function(specie){ %>
		    	<li><a href="#species/<%= specie.model %>/<%= specie.specie %>"><%= specie.specie %>@<%= specie.model %></a></li>
		    <%}); %>
		</ul>
	    </span>
	    <b>Cross References: </b></br>
	    <span class="crossreferences">
		<ul>
		<% _.each(crossreferences, function(crossreference){ %>
		    <li><%= crossreference.name %>: <a href="<%= crossreference.link %>" target = "_blank"><%= crossreference.identifier %></a></li>
		<%}); %>
		</ul>
	    </span>
	</div>
    </script>


    <script type="text/template" id="specielist-template">
	<table id="specie-table" style="width: 100%;" role="grid" class="display dataTable" width="100%" cellspacing="0">
	    <thead style="text-align: left;">
		<tr>
		    <th>Entry</th>
			<th>Alias</th>
		    <th>Model</th>
		    <th>Name</th>
		    <th>Compartment</th>
		    <th></th>
		</tr>
	    </thead>
	    <tbody class="specie-list">
	    </tbody>
	    <tfoot>
		<tr>
			<th></th>
			<th></th>
			<th>iMM904</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	    </tfoot> 
	</table>
    </script>

    <script type="text/template" id="specielistitem-template">
	<% var model = entry.split("@")[1]; %>	
	<% var spc = entry.split("@")[0]; %>
	<td><%= spc %></td>
	<td><%= model %></td>
	<td><%= name %></td>
	<td><%= compartment %></td>
	<td><a href="#species/<%= model %>/<%= spc %>"><span class="fa fa-search"></span></a></td>
    </script>

    <script type="text/template" id="specie-template">
	<% var spc = entry.split("@")[0]; %>
	<% var model = entry.split("@")[1]; %>
	<div id = "details">
		<h4>Metabolite <%= spc %></h4>
		<div class="row-fluid">
			<div class="span6">
				<b>Model: </b><span class="model"><%= model_map[model] %></span></br>
				<b>Name: </b><span class="specie-name"><%= name %></span></br>
				<% if (alias != null) { %><b>Alias: </b><span class="alias"><%= alias %></span></br> <% } %>
				<% if (formula != null) { %><b>Formula: </b><span class="formula"><%= formula %></span></br>  <% } %>
				<b>Compartment: </b><span class="compartment"><%= compartment %> (<%= model_compartment %>)</span></br>
				</br>
			</div>
			<div class="span6">
				<% var aggCrossrefs = getAggregatedCrossReferences(crossrefs.unique()); %>
				<% if (aggCrossrefs.length > 0) { %>
				<b>Cross References: </b> </br>
				<span class="crossreferences">
				<ul>

				<% _.each(aggCrossrefs, function(maincrossreference){ %>
					<% if (maincrossreference != null){ %>
						<li><%= maincrossreference.maindatabase %>: 
							<% _.each(maincrossreference.crossreferences, function(crossreference){ %>
								<% for (var i = 0; i < crossreference.identifiers.length; i++){ %>
									<% var cr = {identifier: crossreference.identifiers[i], database: crossreference.database}; %>
									<a href=<%= getMetaboliteRef(cr) %> target = "_blank"><%= cr.identifier%></a><% if (i + 1 < crossreference.identifiers.length){%>, <% } %>
								<% } %>
							<% }); %>
						</li>
					<% } %>
				<%}); %>
				</ul>
				</span>
				<% } %>
			</div>
		</div></br></br>
	    <b>This metabolite is present on the following reactions of the <%= model_map[model] %> model:</b></br>

	    <table id="metabolite-reactionrefs-table" style="width: 100%;" role="grid" class="display dataTable nowrap" width="100%" cellspacing="0">
	    <thead style="text-align: left;">
		    <tr>
				<th>Entry</th>
		        <th>Model</th>
				<th>Equation</th>
				<th>EC Number</th>
				<th>GPR</th>
		        <th>Name</th>		        
				<th></th>
		    </tr>			
		</thead>
		<tbody class="metabolite-reactionrefs-list">
		    <% _.each(reactionrefs.unique(), function(reactionref){ %>
		      <% if (reactionref.entry !== null) { %>		
			<tr>
			<% var rxref_model = reactionref.entry.split("@")[1] %>
			<% var rxref_rx = reactionref.entry.split("@")[0] %>
			<td><%= rxref_rx %></td>
			<td><%= model_map[rxref_model] %></td>
			<td><%= getEquation(reactionref,false) %></td>
			<td>
				<% if (reactionref.ecnumber !== null){ %>
					<%= reactionref.ecnumber %>
				<% } %>
			</td>
			<td>
				<% if (reactionref.gpr_normalized === null){ %>
					<%= '<a href="#gprs/' +  rxref_model  + '/' +  rxref_rx  + '" target="_blank">' +  reactionref.gpr_rule + '</a>' %>
				<% } else { %>
					<%= '<a href="#gprs/' +  rxref_model  + '/' +  rxref_rx  + '" target="_blank">' + reactionref.gpr_normalized  + '</a>' %>
				<% } %>
			</td>
			<td><%= reactionref.name %></td>
			<td><a href="#reactions/<%= rxref_model %>/<%= rxref_rx %>"><span class="fa fa-search"></span></a></td>
			</tr>
		      <% } %>
		    <%}); %>
		</tbody>
	    </table>
		</br>
	    <b>This metabolite exists also on:</b></br>	

	    <table id="metabolite-modelrefs-table" style="width: 100%;" role="grid" class="display dataTable nowrap" width="100%" cellspacing="0">
	    <thead style="text-align: left;">
		    <tr>
				<th>Entry</th>
		        <th>Model</th>
		        <th>Name</th>
				<th>Compartment</th>
		        <th></th>
		    </tr>
	    	</thead>
	    	<tbody class="metabolite-modelrefs-list">
		    <% _.each(modelrefs.unique(), function(modelref){ %>
		      <% if (modelref.entry !== null && modelref.entry !== entry) { %>		
					<tr>
					<% var modref_model = modelref.entry.split("@")[1] %>
					<% var modref_spc = modelref.entry.split("@")[0] %>
					<td><%= modref_spc %></td>
					<td><%= model_map[modref_model] %></td>
					<td><%= modelref.name %></td>
					<td><%= modelref.compartment %></td>
					<td><a href="#species/<%= modref_model %>/<%= modref_spc %>"><span class="fa fa-search"></span></a></td>
					</tr>
		      <% } %>
		    <%}); %>
		</tbody>
	    </table>
	</div>
    </script>

    <script type="text/template" id="reactionlist-template">
	<table id="reaction-table" style="width: 100%;" role="grid" class="display dataTable nowrap" width="100%" cellspacing="0">
	    <thead style="text-align: left;">
		<tr>
		    <th>Entry</th>
		    <th>Model</th>
		    <th>Equation</th>
		    <th>EC Number</th>
		    <th>GPR Rule</th>
			<th>Pathway</th>
		    <th>Name</th>
		    <th></th>
		</tr>
	    </thead>
	    <tbody></tbody>	   
	    <tfoot>
		<tr>
			<th></th>
			<th>iMM904</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	    </tfoot> 
	</table>
    </script>

    <script type="text/template" id="reactionlistitem-template">
        <% var model = entry.split("@")[1]; %>	
	<% var rx = entry.split("@")[0]; %>
	<td><%= rx %></td>
	<td><%= model %></td>
	<td><span class="equation">	
		<span class="reactants">
		    <% for (var i = 0; i < reactants.length; i++){ %>
			<span class="btn-xs" style="padding: 0;"><%= reactants[i].stoichiometry %></span>
			<a class="btn-primary btn-xs" href="#species/<%= model %>/<%= reactants[i].specie %>"><%= reactants[i].specie %></a>
			<% if (i !== reactants.length -1){ %>
			    +
			<% } %>
		    <% } %>
		</span>
		    <% if (orientation == "LeftToRight") {%>
			    =>
		    <% } else if (orientation == "Reversible"){ %>
		        <=>
		    <% } else if (orientation == "RightToLeft"){ %>
			<=
		    <% } else { %>
			?
		    <% } %>
		<span class="products">
		    <% for (var i = 0; i < products.length; i++){ %>
			<span class="btn-xs" style="padding: 0;"><%= products[i].stoichiometry %></span>
			<a class="btn-primary btn-xs" href="#species/<%= model %>/<%= products[i].specie %>"><%= products[i].specie %></a>
			<% if (i !== products.length -1){ %>
			    +
			<% } %>
		    <% } %>
		</span>
	    </span></td>
	<td><%= ecnumber %></td>
	<td><%= gpr_rule === null ? 'not normalized yet' : gpr_rule %></td>
	<td><%= name %></td>

   	<td><a href="#reactions/<%= model %>/<%= rx %>"><span class="fa fa-search"></span></a></td>
    </script>

    <script type="text/template" id="reaction-template">
	<% var rx = entry.split("@")[0]; %>
	<% var model = entry.split("@")[1]; %>
    	<div id="details">
	    <h4><b>Reaction</b> <%= rx %></h4>
	    <b>Model: </b><span class="model"><%= model_map[model] %></span></br>
	    <b>Name: </b><span class="reaction-name"><%= name %></span></br>
		<% if (pathway !== null) { %>
			<b>Pathway: </b><span class="pathway"><%= pathway %> (<%= model_pathway %>)</span></br>
		<% } %>
	    <% if (ecnumber !== null && ecnumber != "") { %> 
		<b>EC Number: </b>
		<% for (var i = 0; i < ecnumber.length; i++){ %>
		    <span class"ec-number"><%= ecnumber[i] %><% if (i+1 < ecnumber.length){%>, <% } %>
		<% } %>
		</br>
	    </br>
	    <% } %>
	    <b>Equation:</b> <span class="equation" id = "equation">	
			<% var data = {} %>
			<% data.entry = entry %>
			<% data.orientation = orientation %>
			<% data.reactants = reactants %>
			<% data.products = products %>
			<%= getEquation(data, false) %>
			
	    </span> </br> </br>
		<% if (gpr_rule !== ""){ %>
			<% if (gpr_normalized === null){ %>
				<b>GPR: </b><span class="gpr"><%= gpr_rule %></span>
			<% } else { %>
				<b>GPR: </b><span class="gpr"><%= getLinkGeneGPR(gpr_normalized, genes) %></span>
			<% } %>
			<a href="#gprs/<%= model %>/<%= rx %>"><span class="fa fa-search"></span></a>
			</br></br>
	    <% } %>
		
		<% var aggCrossrefs = getAggregatedCrossReferences(crossrefs.unique()); %>
	    <% if ((aggCrossrefs.length > 0) || (ecnumber !== null && ecnumber != "")) { %>
	    <b>Cross References: </b>
	    <span class="crossreferences">
		<ul>
		<% if (ecnumber !== null) { %>
		    <li>BRENDA: 
		    <% for (var i = 0; i < ecnumber.length; i++){ %>
		        <% var ec_brenda = getBrendaRef(ecnumber[i]); %>
		        <% if (ec_brenda !== null) { %>
		    	   <a href=<%= ec_brenda %> target = "_blank"><%= ecnumber[i] %></a><% if (i + 1 < ecnumber.length){%>, <% } %>
		        <% } %>
                    <% } %>
                    </li>
		<% } %>
		<% _.each(aggCrossrefs, function(maincrossreference){ %>
		    <% if (maincrossreference != null){ %>
		    	<li><%= maincrossreference.maindatabase %>: 
					<% _.each(maincrossreference.crossreferences, function(crossreference){ %>
						<% for (var i = 0; i < crossreference.identifiers.length; i++){ %>
							<% var cr = {identifier: crossreference.identifiers[i], database: crossreference.database}; %>
							<a href=<%= getReactionRef(cr) %> target = "_blank"><%= cr.identifier%></a><% if (i + 1 < crossreference.identifiers.length){%>, <% } %>
						<% } %>
					<% }); %>
				</li>
		    <% } %>
		<%}); %>
		</ul>
	    </span>
		
	    </br>
	    <% } %>
	    <b>This reaction is also present on:</b></br>	
	   
	    <table id="modelrefs-table" style="width: 100%;" role="grid" class="display dataTable nowrap" width="100%" cellspacing="0">
	    <thead style="text-align: left;">
		    <tr>
			<th>Entry</th>
		        <th>Model</th>
		        <th>Equation</th>
		        <th>EC Number</th>
		        <th>GPR Rule</th>
		        <th>Name</th>
		        <th></th>
		    </tr>
	    	</thead>
	    	<tbody class="modelrefs-list">
		    
		    <% _.each(modelrefs, function(modelref){ %>
		      <% if (modelref.entry !== null) { %>		
			<tr>
			<% if (modelref.entry !== null){ %>
			<% var modref_model = modelref.entry.split("@")[1] %>
			<% var modref_rx = modelref.entry.split("@")[0] %>
			<td><%= modref_rx %></td>
			<td><%= model_map[modref_model] %></td>
			<td><span class="equation">	
				<% var modeldata = {} %>
				<% modeldata.entry = modelref.entry %>
				<% modeldata.orientation = modelref.orientation %>
				<% modeldata.reactants = modelref.reactants %>
				<% modeldata.products = modelref.products %>
				<%= getEquation(modeldata, false) %>
				</span>
			</td>
			<td><%= ecnumber %></td>
			<td><%= modelref.gpr_normalized === null ? '<a href="#gprs/' + modref_model + '/' + modref_rx + '" target="_blank">' + modelref.gpr_rule + '</a>' : '<a href="#gprs/' + modref_model + '/' + modref_rx + '" target="_blank">' + modelref.gpr_normalized + '</a>' %></td>
			<td><%= modelref.name %></td>

		   	<td><a href="#reactions/<%= modref_model %>/<%= modref_rx %>"><span class="fa fa-search"></span></a></td>
			<% }%>
		    </tr>
		    <% } %>
		    <%}); %>
		</tbody>
	    </table>
	</div>

	
    </script>

    <script type="text/template" id="sgdgenelist-template">
	<table id="sgdgene-table" style="width: 100%;" role="grid" class="display dataTable" width="100%" cellspacing="0">
	    <thead style="text-align: left;">
		<tr>
		    <th>Entry</th>
		    <th>Systematic Name</th>
		    <th>Standard Name</th>
		    <th></th>
		</tr>
	    </thead>
	    <tbody class="sgdgene-list">

	    </tbody>
	</table>
    </script>

    <script type="text/template" id="sgdgenelistitem-template">
	    <td><%= entry %></td>
	    <td><%= systematic_name %></td>
	    <td><%= standardName %></td>
	    <td><a href="#sgdgenes/<%= entry %>"><span class="fa fa-search"></span></a></td>
	
    </script>

    <script type="text/template" id="sgdgene-template">
	<div id="details">
		<h4>Gene <%= systematic_name %></h4>
		<b>SGD DB ID:</b> <span class = "db-id"><a href=http://www.yeastgenome.org/locus/<%=entry%>/overview target="_blank"><%=entry%></a></span>  </br>
		<b>Systematic Name:</b> <span class="systematic-name"><%= systematic_name %> </span> </br>
		<b>Name:</b> <span class = "name"><%= name %> </span> </br>
		<b>Standard Name:</b> <span class = "standard-name"><%= standardName %> </span></br>
		<b>Status:</b> <span class = "status"><%= status %></span>  <b>Feature Type:</b> <span class = "feature-type"><%= featureType %></span> <b>Length:</b> <span class="length"><%= length %></span></br>
		<b>Alias:</b> <span class = "alias"><%= alias %></span></br>

	
		<b>Phenotypes:</b> <span class="phenotypes">	
		<ul>
		<% _.each(phenotypes, function(phenotype){ %>
		    <li><%= phenotype %></li>
		<%}); %>
		</ul>
		</span> </br>

	        <% if (uniprot !== null) { %>
		    <b>Uniprot: </b><span class="uniprot"><a href=<%= getGeneRef("Uniprot", uniprot) %> target="_blank"><%= uniprot %></a></span></br>
	        <% } %>
		<% if (expazy !== null) { %>
		    <b>Expasy: </b><span class="expasy"><a href=<%= getGeneRef("Expasy", expazy) %> target="_blank"><%= expazy %></a></span></br> 
		<% } %>
		<% if (gprs.length > 0) { %>		
		</br><b>This gene is present on the following reactions' GPRs:</b> </br><span class="gprs">
		
		<table id="sgd-reactionrefs-table" style="width: 100%;" role="grid" class="display dataTable nowrap" width="100%" cellspacing="0">
	    <thead style="text-align: left;">
		    <tr>
				<th>Entry</th>
		        <th>Model</th>
				<th>GPR</th>
				<th></th>
		    </tr>			
		</thead>
		<tbody class="sgdgene-reactionrefs-list">
		    <% _.each(gprs, function(gpr){ %>
		      <% if (gpr.entry !== null) { %>		
			<tr>
			<% var rxref_model = gpr.entry.split("@")[1] %>
			<% var rxref_rx = gpr.entry.split("@")[0] %>
			<td><%= rxref_rx %></td>
			<td><%= model_map[rxref_model] %></td>
			<td>
				<%= gpr.gpr_normalized %></td>
			</td>
			<td><a href="#reactions/<%= rxref_model %>/<%= rxref_rx %>"><span class="fa fa-search"></span></a></td>
			</tr>
		      <% } %>
		    <%}); %>
		</tbody>
	    </table>

		<% } %>
		</span>
	</div>
    </script>
	
	<script type="text/template" id="compartments-template">
		<div id = "compartments">
			<table class="compartment-table" align="center" style="width:50%">
				<tbody>
				
					<tr>
						<th>Name</th>
						<th>ID</th>
					</tr>
					<tr>
						<td>Golgi Membrane</td>
						<td>gm</td>
					</tr>
					<tr>
						<td>Vacuolar Membrane</td>
						<td>vm</td>
					</tr>
					<tr>
						<td>Endoplasmic Reticulum Membrane</td>
						<td>rm</td>
					</tr>
					<tr>
						<td>Peroxisomal Membrane</td>
						<td>xm</td>
					</tr>
					<tr>
						<td>Cytoplasmic Membrane</td>
						<td>cm</td>
					</tr>
					<tr>
						<td>Cytosol</td>
						<td>c</td>
					</tr>
					<tr>
						<td>Golgi Apparatus</td>
						<td>g</td>
					</tr>
					<tr>
						<td>Extra Cellular</td>
						<td>e</td>
					</tr>
					<tr>
						<td>Nucleus</td>
						<td>n</td>
					</tr>
					<tr>
						<td>Mitochondrion</td>
						<td>m</td>
					</tr>
					<tr>
						<td>Vacuole</td>
						<td>v</td>
					</tr>
					<tr>
						<td>Endoplasmic Reticulum</td>
						<td>r</td>
					</tr>
					<tr>
						<td>Mitochondrial Membrane</td>
						<td>mm</td>
					</tr>
					<tr>
						<td>Nuclear Membrane</td>
						<td>nm</td>
					</tr>
					<tr>
						<td>Boundary</td>
						<td>b</td>
					</tr>
					<tr>
						<td>Lipid Particle</td>
						<td>lp</td>
					</tr>
					<tr>
						<td>Cell Envelope</td>
						<td>ce</td>
					</tr>
					<tr>
						<td>Plasma Membrane</td>
						<td>pm</td>
					</tr>
				</tbody>
			</table>
			<br>
		</div>
	</script>
	
	<script type="text/template" id="about-template">
		<div id = "about">
			This website facilitates the visualization of the metabolic integrated database, organized on models' reactions and 
			metabolites, and also genes. The information about the genes was retrieved from <a href="http://www.yeastgenome.org" target="_blank">SGD</a>. 
			<br>
			The models currently available are: iAZ900, iMM904, iFF708, iIN800, iND75, Yeast 1, iLL672, Yeast 6 and Yeast 7.
			On the topbar, the "Genes" button allows us to see a table (Figure 1) with the information of all the genes that are 
			integrated with the metabolic models through their Gene Protein Reaction (GPR) rules. The table columns display the 
			entry of the gene (SGD DB ID), the systematic name and standard name. To see the details of a gene, 
			we click on the magnifier icon. 
			<br><br>
			<figure align="middle">
			<img src="images/genetable.png" alt="Gene table">
			<figcaption>Figure 1 - The screen that appears when we click the Genes button</figcaption>
			</figure>
			<br>
			On the figure below (Figure 2) is displayed the information of the gene, with the general properties first, the phenotypes 
			of the gene, the cross-references, if they exist, from Uniprot and Expasy, and also shows a table with the reactions where 
			the gene is present on their GPR.
			<br><br>
			<figure align="middle">
			<img src="images/geneview.png" alt="Gene view">
			<figcaption>Figure 2 - The gene view with the details of the gene</figcaption>
			</figure>
			<br>
			Moving on to the next button on the topbar, we have the reactions table (Figure 3), which shows us the identifier, the model name, 
			the equation, E.C. number, the GPR rule, the pathway and the name of each reaction. On the equation column it shows the 
			compartment in orange (on the beginning if the compartment is the same for all metabolites, or on the 
			right of each metabolite otherwise) and the name of the metabolites shown is the BiGG ID (when it's available). If we 
			hover the compartment box or the metabolites we can see the full name of each one and we can click to see the details 
			of a metabolite. We can filter the table by model name or show all the models' reactions. On the bottom there are buttons 
			that show only the equation column, only the GPR column, both or show all the columns. Also, if we click on the 
			magnifier icon we can see the details of the reaction.
			<br><br>
			<figure align="middle">
			<img src="images/reactiontable.png" alt="Reaction table">
			<figcaption>Figure 3 - The screen that appears when we click the Reactions button</figcaption>
			</figure>
			<br>
			On the Figure 4 the details of a reaction are displayed. General properties and the equation are shown, on the equation 
			the metabolites are clickable to see the details of them. It also displays the GPR, where the elements are clickable to 
			check the gene's details and also if we click in the magnifier icon we can check the GPR in more detail. It displays 
			the crossreferences from the reaction and shows a list of the reactions on other models that were integrated with 
			the one being displayed. 
			<br>
			When the list is not empty, the equations' metabolites will be assigned a color in each reaction, where the same color 
			is assigned to integrated metabolites, thus allowing an intuitive comparison of the reactions' equations. On the figure 4 
			we can see for example that the metabolite 'xyl-D' with a red color, is the same on all the metabolites with a red color 
			on the list. 
			<br><br>
			<figure align="middle">
			<img src="images/reactionview.png" alt="Reaction view">
			<figcaption>Figure 4 - The reaction view with the details of the reaction</figcaption>
			</figure>
			<br>
			The details from the GPR (Figure 5) includes the rule as presented in the SBML file and the rule normalized with the genes clickable. Also, 
			we can see which reactions have the same GPR.
			<br><br>
			<figure align="middle">
			<img src="images/gprview.png" alt="GPR view">
			<figcaption>Figure 5 - The details from a GPR</figcaption>
			</figure>
			<br>
			The Metabolites button shows us also a table with the metabolites (Figure 6), with the columns being the identifier, 
			the alias (BiGG ID), the model, the name and the compartmnet. Also we can filter by model name and see the details of 
			a metabolite by clicking on the magnifier icon. 
			<br><br>
			<figure align="middle">
			<img src="images/metabolitetable.png" alt="Metabolite table">
			<figcaption>Figure 6 - The screen that appears when we click the Metabolites button</figcaption>
			</figure>
			<br>
			On Figure 7 we have the details of a metabolite. It shows the general properties and the compartment that it is in, 
			as well the cross-references. We can check what reactions the metabolite is present and see a list of the same 
			metabolite on different compartments and metabolites in other models that were considered the same in the integration process.
			<br><br>
			<figure align="middle">
			<img src="images/metaboliteview.png" alt="Metabolite view">
			<figcaption>Figure 7 - The metabolite view with the details of the metabolite</figcaption>
			</figure>
			<br>
			The Compartments button shows a table (Figure 8) with the identifier of the compartment and the respective full name.
			<br><br>
			<figure align="middle">
			<img src="images/compartments.png" alt="Compartments">
			<figcaption>Figure 8 - The screen that appears when we click the Compartments button</figcaption>
			</figure>
			<br>
		</div>
	</script>
	
	<script type="text/template" id="home-template">
		<div id = "home">
		
		</div>
	</script>

    <!-- /templates -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="lib/jquery-1.11.3.min.js"></script>
	<script src="lib/jquery-ui.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="lib/backbone-min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="lib/jquery.waituntilexists.min.js"></script>
        <script src="lib/jquery.dataTables.min.js"></script>
	<script src="lib/dataTables.responsive.min.js"></script>
	<script src="lib/dataTables.buttons.min.js"></script>
	<script src="lib/buttons.colVis.min.js"></script>
	<script src="lib/jquery.dataTables.columnFilter.js"></script>
	<script src="lib/sugar.min.js"></script>
	<script src="lib/KolorWheel.min.js"></script>
    <script src="js/models/models.js"></script>


    <script src="js/main.js"></script>
</body>
</html>
